@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    .back{
        right:5rem;
        top:3.5rem
        
    }
    .bottom-top{
        left:5.3rem;
        bottom:-30rem
    }
    .desk{
        left:18rem;
    }
    
    
}